<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draggable Rocket</title>
    <link rel="stylesheet" href="timeline.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/Draggable.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet">
</head>
<body>
  <!--SHAMZ- Added main title & bg assets, styling and anim in timeline.css-->
  <h1 class="main-title">
    TIMELINE
  </h1>
  <h1 id="title" class="first">HELLO</h1>

  <div class="star1">
    <img src="/img/celestial.png"  alt="">
  </div>

  <div class="star2">
    <img src="/img/Celestial2.png"  alt="">
  </div>

  <div class="star3">
    <img src="/img/timeline star 1.png"  alt="">
  </div>

  <div class="circular-arc">
    <img src="/img/Ellipse 5 (Stroke).png"  alt="">
  </div>

  <div class="wrapperModel">
    <div id="container3D"></div>
  </div>

  <div id="wheel"></div>

</body>
<script type="module" src="timeline.js"></script>
<script type="module" src="circular.js"></script>
</html>