@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  height: 100%
}

body {
  font-family: 'Roboto', consolas, sans-serif;
  background-color: #000914;
}

.glow {
  text-shadow: 0 0 5px rgba(255, 184, 0, 0.5), 0 0 10px rgba(255, 184, 0, 0.5), 0 0 15px rgba(255, 184, 0, 0.5), 0 0 20px rgba(255, 184, 0, 0.5);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}