@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Jockey_One:400&display=swap');

:root,
html,
body {
  height: 100%
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', consolas, sans-serif;
  background-color: #000914;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.custom-hover-effect:hover {
  transform: scale(1.5);
}

.custom-hover-effect {
  transition: transform 0.2s ease;
}

@media (max-width: 768px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 70%;
  }
}